services:
  telegram-userbot:
    build: .
    container_name: telegram-userbot
    restart: on-failure
    stdin_open: true
    tty: true
    environment:
      TELEGRAM_API_ID: "${TELEGRAM_API_ID}"
      TELEGRAM_API_HASH: "${TELEGRAM_API_HASH}"
      TELEGRAM_PHONE_NUMBER: "${TELEGRAM_PHONE_NUMBER}"
      TELEGRAM_SESSION_FILE: "/data/session.txt"
      API_HOST: "${API_HOST:-http://host.docker.internal:3000}"
    ports:
      - "6801:6801"
    volumes:
      - ./data:/data

